@model CRM.Web.Models.PaginacaoViewModel

<ul class="pagination justify-content-end">
    @if (Model.PaginaAtual > 1)
    {
        <li class="page-item">
            <a class="page-link" href="#" data-page="@(Model.PaginaAtual - 1)">&laquo;</a>
        </li>
    }

    @for (int i = Model.InicioGrupo; i <= Model.FimGrupo; i++)
    {
        <li class="page-item @(Model.PaginaAtual == i ? "active" : "")">
            <a class="page-link" href="#" data-page="@i">@i</a>
        </li>
    }

    @if (Model.FimGrupo < Model.TotalPaginas)
    {
        <li class="page-item">
            <a class="page-link" href="#" data-page="@(Model.FimGrupo + 1)">&raquo;</a>
        </li>
    }
</ul>
